@import "../utilidades/variables";



/*estilos index y artistas*/

section{
    text-align: center;
    margin-top: 7rem;
    h1{
        background-color: $color-style;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

section{
    h2{
        background-color: $color-style;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, "Helvetica Neue", Helvetica, sans-serif;
    }
}

/* artistas destacados */
.img-dest{
    width: 200px;
}

.img-dest:hover{
    opacity: 0.5;
}

.destacados-art{
    background-color: $color-style;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, "Helvetica Neue", Helvetica, sans-serif;
}

.destacados{
    p{
        font-size: 25px;
    }
}

section{
    p{
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}



.nosotros{
    font-size: 35px;
}

.destacados{
    .bio-text{
        font-size: 20px;
    }
}


@media (max-width: 600px) {
    .video-pres{
        width: auto;
    }
    .pres-flex{
        padding: 5px;
        display: flex;
    }
    
    .container{
        padding: 5px;
        display: flex;
    }
    
    .box{
        margin: 15px;
    }
    .nosotros{
        font-size: 20px;
    }    

    .destacados{
        .bio-text{
            font-size: 15px;
        }
    }
}


.form-container {
    padding: 15px;
    border: 2px solid #ccc;
    background-color: $color-principal;
    align-items: center;
    text-align: center;
}